body {
  font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.container video {
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}

#interpolation-image-wrapper img {
  border-radius: 5px;
}

.slider-pagination {
  position: relative;
}

.slider {
  position: static;
}

.slider-page.is-active {
  background-color: hsl(48, 100%, 67%);
}

.slider-navigation-next {
  position: absolute;
  margin-right: -55px;
}

.slider-navigation-previous {
  position: absolute;
  margin-left: -55px;
}


@media screen and (max-width: 1100px) {
  .slider-navigation-next {
    display: none;
  }

  .slider-navigation-previous {
    display: none;
  }
}

.cyan-shadow {
  font-family: "Lato", sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 1px 1px hsl(171, 100%, 41%), 2px 2px hsl(171, 100%, 41%), 3px 3px hsl(171, 100%, 41%), 4px 4px hsl(171, 100%, 41%), 5px 5px hsl(171, 100%, 41%), 6px 6px hsl(171, 100%, 41%), 7px 7px hsl(171, 100%, 41%)
}

.yellow-shadow {
  font-family: "Lato", sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 1px 1px hsl(48, 100%, 67%), 2px 2px hsl(48, 100%, 67%), 3px 3px hsl(48, 100%, 67%), 4px 4px hsl(48, 100%, 67%), 5px 5px hsl(48, 100%, 67%), 6px 6px hsl(48, 100%, 67%), 7px 7px hsl(48, 100%, 67%)
}

.pink-shadow {
  font-family: "Lato", sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 1px 1px hsl(300, 100%, 73%), 2px 2px hsl(300, 100%, 73%), 3px 3px hsl(300, 100%, 73%), 4px 4px hsl(300, 100%, 73%), 5px 5px hsl(300, 100%, 73%), 6px 6px hsl(300, 100%, 73%), 7px 7px hsl(300, 100%, 73%)
}

.legend-boxes {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

.legend-box {
  display: flex;
  min-width: 45%;
  flex: 1 1 auto;
  position: relative;
}

.estim {
  border: 4px solid hsl(171, 100%, 41%);
  margin-right: 4px;
}

.gt {
  border: 4px solid hsl(141, 53%, 53%);
  margin-left: 4px;
}

.legend-box:nth-child(1) {
  margin-top: 4px;
  border-top-left-radius: 15px;
}

.legend-box:nth-child(2) {
  margin-top: 4px;
  border-top-right-radius: 15px;
}

.legend-box:nth-child(5) {
  margin-bottom: 4px;
  border-bottom-left-radius: 15px;
}

.legend-box:nth-child(6) {
  margin-bottom: 4px;
  border-bottom-right-radius: 15px;
}

.legend-text-estim {
  border-top-left-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: hsl(171, 100%, 41%);
}

.legend-text-gt {
  border-top-left-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: hsl(141, 53%, 53%);
}

#leaderboard-overlay {
  position: absolute;
  top: 46%;
  left: 50%;
  font-size: 120%;
  font-weight: 900;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  backdrop-filter: blur(8px);
  width: max-content;
}

.gradient-text {
  background: linear-gradient(to right, hsl(171deg 100% 41%), hsl(48deg 100% 67%), hsl(300deg 100% 73%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

#leaderboard-overlay:hover {
  animation: glowing 1.5s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px hsl(171deg 100% 41%);
    border-radius: 10px;
  }

  50% {
    box-shadow: 0 0 20px hsl(171deg 100% 41%);
    border-radius: 10px;
  }

  100% {
    box-shadow: 0 0 5px hsl(171deg 100% 41%);
    border-radius: 10px;
  }
}

table td,
table th {
  text-align: center;
  vertical-align: middle;
}

.citation-text {
  font-weight: bold;
  font-style: italic;
  color: #888;
}